.idea/.gitignore
.idea/misc.xml
.idea/modules.xml
.idea/projekt-laby.iml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
*/venv/*
*/__pycache__/*
src/ecosystem_simulation/__pycache__/*
src/ecosystem_simulation/objects/__pycache__/*
src/ecosystem_simulation/objects/animals/__pycache__/*
src/ecosystem_simulation/objects/items/__pycache__/*
